<% provide :title, t(".manager_customers") %>
<div class="col-xs-12">
  <div class="panel panel-info">
    <div class="panel-heading relative text-center">
      <%= t ".list" %>
      <%= link_to new_customer_path, remote: true, class: "add-new", title: t("customers.new") do %>
        <i class="glyphicon glyphicon-plus-sign"></i>
      <% end %>
    </div>
    <div class="panel-body padding-0">
      <% if @customers.present? %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center"><%= t "customers.name" %></th>
              <th class="text-center"><%= t "customers.phone" %></th>
              <th class="text-center"><%= t "customers.address" %></th>
              <th class="text-center"><%= t "sidebar.locale" %></th>
              <th class="text-center"><%= t "action" %></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.name %></td>
                <td><%= customer.phone %></td>
                <td><%= customer.address %></td>
                <td><%= customer.locale_name %></td>
                <td class="action">
                  <%= link_to edit_customer_path(customer), remote: true do %>
                    <i class="glyphicon glyphicon-edit"></i>
                  <% end %>
                  <%= link_to customer_path(customer), method: :delete, class: "red" do %>
                    <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="text-center"><%= t ".no_customers" %></p>
      <% end %>
    </div>
  </div>
</div>
